.jumbotron {
  background-image : url("party.jpg");
  color: aqua;
  height : 150 px;
}

.boutton_jumbotron {
  color: black;
    border-radius: 25px;
}

.card{
  align-items: center;
 margin-bottom: 0.75rem;
 max-width: 100rem;
}